.header{
    display: flex;
    justify-content: space-between;
}

.header__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    width: 100px;
}

.header__name{

}

.header__navbar{
display: flex;
justify-content: center;
align-items: center;
}

.navbar__links{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    margin: 0;
}

.navbar__link{
    margin: 0 10px;
    color: white
}

.navbar__link:hover{
    text-decoration: none;
    color: rgb(255, 23, 23);
}

.navbar__link:active{
    text-decoration: none;
}

.navbar__text{
    text-decoration: none;
    color: white;
}

.navbar__text:active{
    text-decoration: none;
    color: rgb(255, 23, 23);
}

.navbar__HL{
    text-decoration: none;
}

.header__call-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header__call-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__call-logo{
    height: 20px;
}